<div class="masthead-content text-white" style="padding-left: 15px;">
    {% if allow_playlists %}
    {% include 'partials/playlist/_make_playlist.html' %}

    {% else %}
    {% include 'partials/playlist/_sign_up_for_playlists.html' %}

    {% endif %}
    <hr class="solid">
    <h4 style="text-align: center;">
        {% if lastfm_user_data.real_name %}
        {{ lastfm_user_data.real_name }}'s
        {% else %}
        {{ lastfm_user_data.username }}'s
        {% endif %}
        listening history for {{ date_cached.strftime('%-d %B') }}
    </h4>

    <div class="row">
        <div id="view-info-top-artists" style="font-size:small;text-align:center;display:block;">
            Your top artists on {{ date_cached.strftime('%-d %B') }} for each year. Expand to see more.
        </div>

        <div id="view-info-all-scrobbles" style="font-size:small;text-align:center;display:none;">
            All your scrobbles on {{ date_cached.strftime('%-d %B') }} for each year. Expand to see more.
        </div>
    </div>

    <hr class="solid">

    <div id="view-type-switch" style="font-size:xx-small;color:#5bb9b9;padding-top:15px;" onclick="toggleStatsView()"><u>See All Scrobbles</u></div>

    <div id="stats-artist-view" style="display:block;">
        {% include 'partials/stats/_stats_top_artist_view.html' %}
    </div>
    <div id="stats-chrono-view" style="display:none;">
        {% include 'partials/stats/_stats_chronological_view.html' %}
    </div>
    <hr class="solid">

    <div class="container-fluid px-4 px-lg-0" style="padding-top: 50px;">
        {% include 'partials/_username_form.html' %}
    </div>
</div>