<div id="info-box" style="text-align: left;position: fixed;top: 0;left:0;" onclick="toggleInfoDisplay()">
    <div id="what-is-lasthop" style="display:block;font-size: small;">
        About
    </div>

    <div id="info-text" style="display:none;background-color:rgb(49 48 48 / 88%);">
        <div style="font-size: x-small;">
            Explore your musical journey with Lasthop. Simply input your <a href="https://www.last.fm" target="_blank">last.fm</a>  username to see the artists and songs you enjoyed on this day in previous years.
            <br/>
            <br/>
            Soon, you'll be able to generate a Spotify playlist with the highlights of your Lasthop results.
            <br/>
            <br/>
            To get early access to the Spotify playlist feature, send a request to <a href="mailto:lasthopweb@gmail.com">lasthopweb@gmail.com</a>  with your last.fm username and the email address you use to log in to Spotify.
            <br/>
            <br/>
            This is an Open Source project. You can view it, fork it, or submit an issue on <a href="https://github.com/NickyReid/LasthopWeb" target="_blank">Github</a>.
        </div>
        <div style="text-align: right;font-size:small;background-color: #2b2b2be0;">x</div>
    </div>
</div>
