
                <div id="more-playlist-options" style="display:none;">

                    <div class="row playlist-options-row" style="padding-bottom: 30px;">
                        <div style="width:50%; padding-right:5px;">
                            <label for="playlist-country-select" style="font-size:small;float: right;"> Spotify Market </label>
                        </div>
                        <div style="width:50%; padding-left:5px;">
                            <select id="playlist-country-select" name="playlist_opt_country" style="width:90%; background: #4f4f4f;color:#4fb1b1;">
                                {% if user_country %}
                                <optgroup label="selected-country">
                                    <option selected value="{{ user_country['country_code'] }}"> {{ user_country['country_name'] }} </option>
                                </optgroup>
                                {% endif %}
                                 <optgroup label="country-options">
                                    <option> All Countries </option>
                                    {% for country in country_codes_and_names %}
                                    <option value="{{ country }}"> {{ country_codes_and_names[country] }} </option>
                                    {% endfor %}
                                 </optgroup>
                            </select>
                        </div>
                    </div>

                    <div class="row playlist-options-row" style="padding-bottom: 30px;">
                        <div style="width:50%; padding-right:5px;">
                            <label for="playlist-opt-title" style="font-size:small;float: right;"> Playlist title </label>
                        </div>
                        <div style="width:50%; padding-left:5px;">
                            <input id="playlist-opt-title" type="text" name="playlist_opt_title" style="height: 20px;width: 90%;font-size: small;background: #4f4f4f;color:#4fb1b1;" value="Lasthop {{ date_cached.strftime('%b %-d') }} ">
                        </div>
                    </div>


                </div>

                <div class="row playlist-options-row" style="text-align: center;font-size: small;color: #4fb1b1;">
                    <div onclick="toggleMorePlaylistOptions()">
                        More Options
                    </div>
                </div>