<div class=row>
    {% if playlist_url %}
    <div class="col playlist-btn-txt" style="padding-right: 0px;">
        Open your playlist on Spotify:
    </div>
    <div class="col">
        <a class="btn btn-primary" href="{{ playlist_url }}" target="_blank">
            <img class="playlist-btn" src="static/assets/img/spotify-logo.png" alt="spotify-logo" border="0"/></a>
    </div>
    {% elif lastfm_user_data and stats %}

    <div class="col playlist-btn-txt" style="padding-right: 0px;">
        Make a Spotify playlist:
    </div>
    <div class="col">
        <button id="make-playlist-btn" class="btn btn-primary" onclick="loadingButton('make-playlist-btn', '{{ auth_url }}')">
            <img class="playlist-btn" src="static/assets/img/spotify-logo.png" alt="spotify-logo" border="0"/>
        </button>
    </div>
    {% endif %}
</div>