<div class="masthead-content text-white" style="padding-left: 15px;">

    <h4 style="text-align: center;">
        {% if lastfm_user_data.real_name %}
        {{ lastfm_user_data.real_name }}'s
        {% else %}
        {{ lastfm_user_data.username }}'s
        {% endif %}
        listening history for {{ date_cached.strftime('%-d %B') }}
    </h4>

    {% if show_playlist_buttons %}
    {% include 'partials/_playlist_buttons.html' %}
    {% endif %}

    <div class="row" >
        <label for="artist-view-checkbox">
            <input type="checkbox" id="artist-view-checkbox" name="artist_view_checkbox" onclick="toggleStatsView()"
                   checked> Top artist view
        </label>
    </div>

    <div id="stats-artist-view" style="display:block;">

        {% include 'partials/_stats_top_artist_view.html' %}
    </div>
    <div id="stats-chrono-view" style="display:none;">
        {% include 'partials/_stats_chronological_view.html' %}
    </div>

    <div class="container-fluid px-4 px-lg-0" style="padding-top: 50px;">
        {% include 'partials/_username_form.html' %}
    </div>

</div>