<div class="masthead-content text-white" style="padding-left: 15px;">

    <h4 style="text-align: center;">
        {% if lastfm_user_data.real_name %}
        {{ lastfm_user_data.real_name }}'s
        {% else %}
        {{ lastfm_user_data.username }}'s
        {% endif %}
        listening history for {{ date_cached.strftime('%-d %B') }}
    </h4>

    <hr class="solid">
    {% if allow_playlists %}
    {% include 'partials/_make_playlist.html' %}
    <hr class="solid">
    {% endif %}

    <div class="row">
        <div id="view-info" style="font-size:small;text-align:center">
            Your top artists for each year. Expand to see more details
        </div>
    </div>

<!--    <div class="row" style="">-->
         <div id="view-type-switch" style="font-size:xx-small;color:#5bb9b9;padding-top:15px;" onclick="toggleStatsView()"><u>See All Scrobbles</u></div>

    <div id="stats-artist-view" style="display:block;">
        {% include 'partials/_stats_top_artist_view.html' %}
    </div>
    <div id="stats-chrono-view" style="display:none;">
        {% include 'partials/_stats_chronological_view.html' %}
    </div>
    <hr class="solid">

    <div class="container-fluid px-4 px-lg-0" style="padding-top: 50px;">
        {% include 'partials/_username_form.html' %}
    </div>
</div>