<div>
    <div id="tracks-header" class="row" style="padding-bottom:3%;">
        <div style="width:15%;"><strong> Year </strong></div>
        <div style="width:55%;"><strong> Week Day </strong></div>
        <div style="width:30%;"><strong> Scrobbles </strong></div>

    </div>
    {% for year_data in stats %}
    {% if year_data['data'] %}
    <details>
        <summary>
            <div id="tracks-summary" class="row">
                <div style="width:15%;font-size: small;"> <strong>{{ year_data['day'].strftime('%Y') }}</strong></div>
                <div style="width:55%;"> {{ year_data['day'].strftime('%A') }} </div>
                <div style="width:30%;font-size: small;"> {{ year_data['scrobble_list']|length }} </div>
            </div>
        </summary>
        {% for track_data in year_data['scrobble_list'] %}
        <div id="tracks-detail" class="row" style="color: #7fbfbd;">
            <div style="width:15%;font-size:small;text-align: right;    padding: 0;"> [{{ track_data["date"].strftime('%H:%M') }}] </div>
            <div style="width:85%;font-size:small;">{{ track_data["artist"] }} -  {{ track_data["track_name"] }}</div>
        </div>
        {% endfor %}

    </details>
    {% endif %}
    {% endfor %}
</div>