<div>
    {% for year_data in stats %}
    {% if year_data['data'] %}
    <details>
        <summary>
            <strong>{{ year_data['day'].strftime('%Y') }}</strong>
            {{ year_data['data'][0]['artist'] }}
        </summary>

        {% for artist_data in year_data['data'] %}
        <details style="margin-left: 5%;">
            <summary>
                {{ artist_data['artist'] }}
                [{{ artist_data['track_data']['playcount'] }}]
            </summary>
            <p style="margin-left: 3%;margin-top: 0%;margin-bottom: 1%">
                {% for track_data in artist_data['track_data']['tracks'] %}
                {% if track_data["date"] %}
                <span style="font-size: small;"> [{{ track_data["date"].strftime('%H:%M') }}]</span>
                {% endif %}
                {{ track_data["track_name"] }}<br/>
                {% endfor %}
            </p>
        </details>
        {% endfor %}
    </details>
    {% endif %}
    {% endfor %}
</div>