<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
<head>
    <title>Lasthop</title>
    <script>
        var artistView = true;

		function toggleStatsView() {
		    artistView = !artistView;

		    var statsArtistView = document.getElementById("stats-artist-view");
		    var statsChronoView = document.getElementById("stats-chrono-view");

		    if (artistView == true){
		        statsArtistView.style.display = "block";
		        statsChronoView.style.display = "none";
		    } else {
		        statsArtistView.style.display = "none";
		        statsChronoView.style.display = "block";
		    }
        }
    </script>
</head>
<body>
<h1>
    {% if lastfm_user_data %}
    Welcome {{ lastfm_user_data.username }}
    {% else %}
    Welcome
    {% endif %}
</h1>
<div>
    {% if message %}
    {{ message }}
    {% endif %}
</div>
<div>
    <form method="post">
        {% if lastfm_user_data.username %}
        <input type="text" name="username" value="{{ lastfm_user_data.username }}">
        {% else %}
        <input type="text" name="username">
        {% endif %}
        <input id="tz-offset" name="tz_offset" type="hidden">
        <input id="tz" name="tz" type="hidden">
        <script>
			var tz_offset = new Date().getTimezoneOffset();
			var tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
			console.log("Timezone offset: " + tz_offset);
			console.log("Timezone: " + tz);
			document.getElementById('tz-offset').value = tz_offset;
			document.getElementById('tz').value = tz;
        </script>
        <input type="submit">
    </form>
</div>
<div>
    {% if stats %}
    <h3>
        {{ lastfm_user_data.username }}'s listening history for {{ stats[0]['day'].strftime('%-d %B') }}
    </h3>
    <label for="artist-view-checkbox">
        <input type="checkbox" id="artist-view-checkbox" name="artist_view_checkbox" onclick="toggleStatsView()"
               checked> Top artist view
    </label>
    <div id="stats-artist-view" style="display:block;">
        {% include 'partials/_stats_top_artist_view.html' %}
    </div>
    <div id="stats-chrono-view" style="display:none;">
        {% include 'partials/_stats_chronological_view.html' %}
    </div>
    {% endif %}
</div>
<br/>
<div>
    {% if playlist_url %}
    Playlist created!
    <a href="{{ playlist_url }}" target="_blank">Click here to open</a>
    <form method="post">
        <input type="hidden" name="make_playlist" value="true">
        <input type="submit" value="Regenerate Playlist">
    </form>
    {% elif lastfm_user_data and stats %}
    <a href="{{ auth_url }}">Make Playlist</a>
    {% endif %}
</div>
</body>
</html>
