<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Create a playlist of highlights from this day in history from your last.fm profile"/>
    <meta name="author" content="Nicky Reid"/>
    <title>Lasthop - Music Throwbacks</title>
    <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico"/>
    <link href="static/css/styles.css" rel="stylesheet"/>
</head>
<body style="background-image: url('static/assets/img/{{ range(1, 15) | random }}.jpg');">

<div class="masthead" style="height: auto;  padding-top: 1%;    min-height: -webkit-fill-available;">
    {% if not stats %}
    <div class="masthead-content text-white">
        <div class="container-fluid px-4 px-lg-0">
            <h1 class="fst-italic lh-1 mb-4">Lasthop</h1>
            <p class="mb-5">What were you listening to on this day in history?</p>
            {% include 'partials/_username_form.html' %}

        </div>

    </div>
    {% endif %}

    {% if stats %}
    {% include 'partials/_stats.html' %}
    {% endif %}

</div>

<script src="static/js/scripts.js"></script>

</body>
</html>
