<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
	<head>
		<title>Lasthop</title>
	</head>
	<body>
		<h1>
			{% if lastfm_user_data %}
				Welcome {{ lastfm_user_data.username }}
			{% else %}
				Welcome
			{% endif %}
		</h1>
			{% if message %}
				{{ message }}
			{% endif %}
	<form method="post">
		<input type="text" name="username">
		<input type="submit">
	</form>

	{% if playlist_url %}
		Playlist created!
		<a href="{{ playlist_url }}" target="_blank">Click here to open</a>
	{% elif lastfm_user_data %}
		<form method="post">
			<input type="hidden" name="make_playlist" value="true">
			<input type="submit" value="Make playlist">
		</form>

	{% endif %}

	</body>
</html>
