{% if playlist_url %}
{% include 'partials/playlist/_open_playlist.html' %}
{% endif %}

{% if lastfm_user_data and stats and auth_url %}
{% if playlist_url %}
<div id="make-playlist-box" style="display:none;">
    {% else %}
    <div style="display:block;">
        {% endif %}
        <div id="make-playlist-btn"  style="text-align: center;margin: 10px;padding:0px" >
            <button class="btn btn-primary" onclick="togglePlaylistOptions()">
                Make a Playlist
            </button>
        </div>

        <div id="playlist-options" style="text-align: left;display:none;">
            <div class="row">
                <div style="text-align: center;font-size: larger;">
                    Make a playlist on<img style="width:90px;margin:10px" src="static/assets/img/spotify-logo.png" alt="spotify-logo" border="0"/>
                </div>
            </div>
         {% if spotify_authorized %}
         {% include 'partials/playlist/_playlist_options.html' %}
         {% else %}
         {% include 'partials/playlist/_authorize_spotify.html' %}
         {% endif %}
        </div>
    </div>
    {% endif %}
